<div class="create-task-div card">
    <form #createForm="ngForm" (ngSubmit)="onSubmit(createForm.value)">
        <div>
            <input class="tda-input" placeholder="Title goes here..." type="text" name="title" id="name" ngModel
                required>
        </div>
        <div>
            <textarea class="tda-textarea" placeholder="Content goes here..." name="content" id="content" cols="30"
                rows="5" ngModel required></textarea>
        </div>
        <div>
            <button class="btn btn-danger tda-button" type="reset"><i class="bi
            bi-arrow-repeat"></i>
                <span class="tda-tooltip-text">Reset</span></button>
            <button class="btn btn-success tda-button" type="submit"
            [disabled]="!createForm.form.valid"><i class="bi bi-check"></i>
            <span class="tda-tooltip-text">Add</span></button>
        </div>
    </form>
</div>