textarea {
    resize: none;
    display: block;
}

.tda-button {
    margin: 5px 0px 0px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.tda-input {
    margin: 5px 0px 0px 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #cca300;
    outline: none;
    background-color: inherit;
    width: 80%;
}

.tda-textarea {
    margin: 5px 0px 0px 5px;
    border: none;
    outline: none;
    background-color: inherit;
    width: 80%;
}

.create-form-div {
    background-color: #ffd633;
    margin-top: 5px;
    margin-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    width: 30%;
    border-radius: 2%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #e6b800;
}