textarea {
    resize: none;
    display: block;
}

.tda-create-task-div {
    background-color: #acacac;
    margin-top: 5px;
    margin-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border-radius: 2%;
    display: inline-block;
}

.tda-create-task-div:hover {
    background-color: #979797;
}

.tda-input {
    border-bottom: 1px solid #575757;
}