<div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" style="border-radius: 4px;">
        <a class="navbar-brand" routerLink="/" style="cursor: pointer">To Do App</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active" routerLink="/">
                <a class="nav-link" style="cursor: pointer">Welcome {{
                authService.firstName }}</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" [ngStyle]="{'display':
            authService.isAuthenticated ? 'none' : 'inline'}">
                <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item" [ngStyle]="{'display':
            !authService.isAuthenticated ? 'none' : 'inline'}">
                <a class="nav-link" (click)="authService.logout()">Logout</a>
            </li>
            <li class="nav-item" routerLink="/register"
            routerLinkActive="active" [ngStyle]="{'display':
            authService.isAuthenticated ? 'none' : 'inline'}">
                <a class="nav-link" style="cursor: pointer">Register</a>
            </li>
        </ul>
    </nav>
</div>