<div class="tda-div tda-task-div tda-card">
    <form #editForm="ngForm" (ngSubmit)="onSubmit(editForm.value)">
        <div>
            <input class="tda-input" type="text" name="title" [(ngModel)]="task.title" [readonly]="readOnly" required>
        </div>
        <div>
            <textarea class="tda-textarea" name="content" id="content" cols="30" rows="5" [readonly]="readOnly"
                [(ngModel)]="task.content" required></textarea>
        </div>
        <div class="tda-button-div">
            <button class="btn btn-success tda-button" type="submit" [disabled]="!editForm.form.valid"
                [hidden]="readOnly"><i class="bi bi-check"></i><span class="tda-tooltip-text">Save</span></button>
            <button class="btn btn-warning tda-button" type="button" [hidden]="readOnly" (click)="onCancelClicked()"><i
                    class="bi bi-arrow-bar-left"></i><span class="tda-tooltip-text">Cancel</span></button>
            <button class="btn btn-info tda-button" type="button" (click)="onEditClicked()" [disabled]="!readOnly"><i
                    class="bi bi-pencil-square"></i><span class="tda-tooltip-text">Edit</span></button>
            <button class="btn btn-danger tda-button" type="button" (click)="onDeleteClicked()"><i
                    class="bi bi-x"></i><span class="tda-tooltip-text">Remove</span></button>
        </div>
    </form>
</div>