textarea {
    resize: none;
    display: block;
}

.tda-div {
    display: inline-block;
}

.tda-task-div {
    background-color: #ffd633;
    margin-top: 5px;
    margin-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    width: 30%;
    border-radius: 2%;
}

.tda-task-div:hover {
    background-color: #e6b800;
}