.tda-container {
	width: 70vw;
	margin: auto;
    height: 200vh;
}

.tda-button {
    margin: 5px 0px 0px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.tda-button .tda-tooltip-text {
    visibility: hidden;
    width: auto;
    font-size: 60%;
    background-color: rgba(0, 0, 0, 0.247);
    color: #fff;
    text-align: center;
    padding: 3px 3px;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 3s;
}

.tda-button:hover .tda-tooltip-text {
    visibility: visible;
    opacity: 1;
}

hr.tda-divider {
    margin-top: 10px;
    margin-bottom: 5px;
    border-width: 2px;
}